/* your styles go here */
.logo img {
  width: 100%;
}
.box-body{
  width: 100%;
  padding: 0 1%;
}
.modal-header,.modal-footer{
  display:inherit !important;
}
.modal-dialog{
  width: 100% !important;
}
.modal-footer{
  width: 100% !important;
  text-align: right !important;
}
.btn-default{
  background: #444;
  color: #aaa;
}
.btn-default:hover{
  background: #aaa;
  color: #444;
}
.btn-add, .btnAdd{
  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 50px;
  background: #00cc00;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
   border: 0px solid #000000;
   padding: 8px 12px;
   text-decoration: none;
}
#imagen #ima{
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 0px solid #000000;
}
.activo{
  background: #00cc00;
}
.no-activo{
  background: #990000;
}

#id_code_google,#codi1{visibility: hidden;}

.d-flex-logo{
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 950px){
  #email_session{visibility: hidden;}
  .public-user-block .item{
    width: 99%;
  }
}